*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --brand--color: #2196F3;
    --font--color: #212121;
    --banner--color: #2F303A;
    --contac--color: #757575;
    --botones--color: #F5F4FA;
}
body {
    /* border: 1px solid red; */
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    width: 1600px;
    /* height: 2931px; */
    margin: 0 auto;
    color: var(--font--color);
    overflow-x: hidden;
}
header{
    border: 1px solid #ECECEC;
    width: 1600px;
    height: 80px;
}
h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--font--color);
}
h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--font--color);
}
.controls {
    height: 80px;
    display: inline-flex;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.name_page{
    display: flex;
    text-decoration: none;
    margin-left: 215px;
    margin-top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    text-align: right;
    letter-spacing: 0.03em;
    color: var(--brand--color);
}   
.line_estudio{
    margin-top: 27px;

    width: 48px;
    height: 4px;
    flex-shrink: 0;
    background: var(--brand--color);
    border-radius: 2px;
}
.header_estudio{
    margin-top: 32px;
    margin-left: 93px;
    width: 42px;
    height: 48px;
}
.nav_estudio{
    /* padding-left: 92px; */
    text-decoration: none;
    color: var(--brand--color);
}

.estudio-portafolio{
    /* padding-left: 92px; */
    text-decoration: none;
    color: #212121;
}.estudio-portafolio:hover{
    color: var(--brand--color)
}

.header_portafolio{
    margin-top: 32px;
    margin-left: 50px;
    width: 42px;
    height: 48px;
}

.nav_portafolio{
    text-decoration: none;
    width: 65px;
    height: 16px;

    color: var(--font--color);
}.nav_portafolio:hover{
    color: var(--brand--color);
}

.line_portafolio{
    margin-top: 27px;
    width: 78px;
    height: 4px;
    flex-shrink: 0;
    background: var(--brand--color);
    border-radius: 2px;
}
.nav_contactos{    
    text-decoration: none;
    width: 67px;
    height: 16px;
    margin-left: 50px;
    margin-top: 32px;
    color: var(--font--color);
}.nav_contactos:hover{
    color: var(--brand--color)
}

.mail_icon{
    width: auto;
    height: 16px;
    margin-left: 344px;
    margin-top: 32px;

    fill: var(--contac--color);
}.mail_icon:hover{
    fill: var(--brand--color);
}

.mail{
    width: auto;
    height: 16px;
    margin-left: 10px;
    margin-top: 32px;
    text-decoration: none;
    color: var(--contac--color);
}.mail:hover{
    color: var(--brand--color);
}
.tel_icon{

    width: auto;
    height: 16px;
    margin-left: 30px;
    margin-top: 32px;

    fill: var(--contac--color);
}.tel_icon:hover{
    fill: var(--brand--color);
}
.tel{

    width: auto;
    height: 16px;
    margin-left: 10px;
    margin-top: 32px;
    text-decoration: none;
    color: var(--contac--color);
}.tel:hover{
    color: var(--brand--color);
}

/* banner y boton */
.banner{
    display: flex;
    background: url(../images/Imagen_banner_.jpg);
    width: 1600px;
    height: 600px;

    padding-left: 452;
    padding-top: 280;
    
}
.message_1{
    color: #FFFFFF;
    font-weight: 900px;
    font-size: 44px;
    line-height: 60px;

    height: 120px;
    width: 696px;

    margin-top: 200px;
    margin-left: 452px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* cambio de color */
.banner .boton:hover{
    background-color: var(--brand--color);
    color: #FFFFFF;
}
.boton {
    background-color: var(--botones--color);
    /* color: #FFFFFF; */
    margin-top: 350px;
    margin-left: -446px;
    height: 50px;
    width: 256px;
}
.services-descrip{
    display: inline-flex;

    height: 251px;
    width: 1170px;

    margin-top: 95px;
    margin-left: 215px;

}

.icon{
    border-radius: 4px;
    background-color: #F5F4FA;
}

.services-descrip_1{
    height: 122px;
    width: 270px;
}
.tittle_descript_1{
    margin-top: 30px;
}
.descript_1{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    margin-top: 10px;
    letter-spacing: 0.03em;
    
    color: var(--contac--color);
}
.services-descrip_2{
    height: 122px;
    width: 270px;

    margin-left: 30px;
}
.tittle_descript_2{
    margin-top: 30px;
}
.descript_2{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    margin-top: 10px;

    letter-spacing: 0.03em;
    
    color: var(--contac--color);
}
.services-descrip_3{
    height: 122px;
    width: 270px;
    margin-left: 30px;
}
.tittle_descript_3{
    margin-top: 30px;
}
.descript_3{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    margin-top: 10px;

    letter-spacing: 0.03em;
    
    color: var(--contac--color);
}
.services-descrip_4{
    height: 122px;
    width: 270px;
    
    margin-left: 30px;
}
.tittle_descript_4{
    margin-top: 30px;
}
.descript_4{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    margin-top: 10px;

    letter-spacing: 0.03em;
    
    color: var(--contac--color);
}
.dedicate{
    color: #212121;
    margin-top: 99px;
}
.images_what{
    display: flex;
    justify-content: space-between;

    width: 1180px;
    margin-left: 215px;
    margin-top: 50px;
}
.thumb {
    position: relative;
    overflow: hidden;
    margin: 0px;
    width: 373px;
    height: 323.7px;
}

.thumb > .label {
    position: absolute;
    bottom: 0;
    width: 373px;
    height: 80px;

    font-weight: 700px;
    line-height: 16.41px;
    text-align: center;
    padding: 35px;
    font-size: 14px;
    background: rgba(47, 48, 58, 0.8);
    color: #fff;
    margin: 0px;
}
/* ---------------------------------------------------------------------------- */
.team{    
    border: 1px solid var(--botones--color);
    text-align: center;

    margin-top: 94px;
    width: 1600px;
    height: 708px;
    background-color: var(--botones--color);
}
.team > h2 {
    margin-top: 94px;

}
.team_flex{
    margin-top: 50px;
    display: inline-flex;
    justify-content: space-between;
    width: 1191px;
    height: 428px;
}

.team_1{
    background-color: #FFFFFF;

    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team_1_name{
    margin-top: 30px;
}
.icon_redes{
    width: 206px;
    height: 44px;
    display: flex;

    margin-left: 32px;
    justify-content: space-between;
    align-items: baseline;
}

.personal_redes{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8; 
}
.personal_redes:hover{
    background-color: var(--brand--color);
    fill: white;
}

.pteam_1{
    margin-top: 10px;
}
.team_2{
    margin-left: 37px;
    background-color: #FFFFFF;

    width: 270px;
    height: 428px; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team_2_name{
    margin-top: 30px;
}
.pteam_2{
    margin-top: 10px;
}

.team_3{
    margin-left: 37px;
    background-color: #FFFFFF;

    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);    
}
.team_3_name{
    margin-top: 30px;
}
.pteam_3{
    margin-top: 10px;
}
.team_4{

    margin-left: 37px;
    background-color: #FFFFFF;

    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);    
}
.team_4_name{
    margin-top: 30px;
}
.pteam_4{
    margin-top: 10px;
}
/*-----------------------------------------------------------------------------*/
.clientes{
    height: 309px;
    text-align: center;
}
.clientes_flex{
    margin-top: 25px;
    display: inline-flex;
    justify-content: space-between;
    width: 1170px;
    height: 81px;
}
/*--------------------------------------------------------------------------------*/

.clientx{
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 171px;

    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8; 
}
/* .clientx:hover{
    border: 1px solid var(--brand--color);
    fill: var(--brand--color);
} */
.clientx:hover{
    border: 1px solid var(--brand--color);
    fill: var(--brand--color);
}

.constac_footer{
    border: 1px solid var(--banner--color);
    width: 1600px;
    height: 250px;
    background-color: var(--banner--color);
    display: inline-flex;

}
.add {
    width: 231px;
    height: 132px;
    margin-top: 60px;
    margin-left: 215px;
}
.add  > a {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
}
.addres1{
    line-height: 25px;
    margin-top: 9px;
}
address > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;    
    letter-spacing: 0.03em;    
    color: #FFFFFF;
    margin: 0px 0px;
}
address > a{
    text-decoration: none;
    letter-spacing: 0.03em;    
    color: rgba(255, 255, 255, 0.6);
}
.redes_org {
    /* border: 1px solid red; */
    width:206px;
    height: 80px;
    margin-top: 72px;
    margin-left: 70px;
}
.redes_org > p {
    margin: 0px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.icon_org {
    width: 202px;
    margin-top: 16px;
    display: inline-flex;
    justify-content: space-between;
    
}
.org_redes{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #ffffff;
    background: rgba(255, 255, 255, 0.1);
}
.org_redes:hover{
    background-color: var(--brand--color);
    fill: white;
}

/* -------------- styles PORTAFOLIO ---------------------*/


.boton_portafolio{
    /* border: 1px solid crimson; */
    
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    list-style: none;
    
    
    height: 38px;
    width: 687px;
    
    margin-left: 460px;
    margin-top: 106px; 
}
.boton_portafolio > .boton_iteam_1_nametem:not(:last-child){
    font-size: 16px;
    line-height: 26px;
    
    text-align: center;
    letter-spacing: 0.03em;
}
.boton_portafolio .link{
    display: flex;
    padding: 6px 24px;
    
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: var(--botones--color);
}
.boton_portafolio .link:hover{
    text-decoration: none;
    background-color: var(--brand--color);
    color: #FFFFFF;
}
.categories{
    /* border: 1px solid red; */
    width: 1182px;
    height: 1330px;
    margin-top: 50px;
    margin-left: 247px;
    margin-bottom: 82px;
}
.categorias_set{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    
    padding: 0px;
    /* justify-content: space-between; */

    gap: 24px;
}

.sub_categorias{
    width: 370px;
    height: 404px;
    border: 1px solid #EEE;
}
.cat_item{
    height: 294px;
    background-color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #EEEEEE;
    /* box-shadow: #2196F3; */
    overflow: hidden;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0px;
    left:0px;
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.90);
    padding: 63px 24px;

    color: #FFF;
    font-size: 18px;
    font-weight: 404;
    line-height: 28px;
    letter-spacing: 0.54px;

    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cat_item:hover .overlay {
    transform: translatey(0%);
}
.sub_categorias > a > figcaption{
    margin-top: 20px;
    margin-left: 24px;
    padding: 0px;

    font-weight: 700;
    font-size: 18px;
    line-height: 36px;

    letter-spacing: 0.06em;

    color: #212121;
    position: relative;
    text-decoration: none;
}
.sub_categorias > a > p {
    margin-top: 4px;
    margin-left: 24px;
    padding: 0px;

    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.03em;
    
    color: #757575;
}

.categorias_set .sub_categorias:hover {
    text-decoration: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    color: #FFFFFF;
}
.categorias_set .sub_categorias > a {
    text-decoration: none;
}

/* _____________________________________VENTANA MODAL______________ */
.modal {
    display: none; /* Oculta la ventana modal por defecto */
    position: fixed; /* Posición fija en la pantalla */
    z-index: 1; /* Coloca la ventana modal por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita el desplazamiento si el contenido es demasiado largo */
    background-color: rgba(0,0,0,0.20); /* Fondo semitransparente */
}
.modal-content {
    background-color: #fefefe;
    margin: 3% auto; /* Centra la ventana modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 528px;
    height: 581px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}